Body {
    font-size: 24px;
}
nav {
    text-align: center;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background-color: antiquewhite;
}
#hero img {
    width: 100%;
}
nav a :hover {
    color: rgb(200, 242, 246);
}
.logo {
    width: 100px;
}
header{
    display: grid;
    grid-template-columns: 150px auto;
}
header a{
    display: block;
    margin: 0, auto;
    background-color: rgb(254, 247, 237);
    width: 100%;
}