@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');
#content{
  background-color: #ffffff;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Roboto', 'Josefin Sans', 'Rock Salt', Arial, sans-serif;
  text-decoration: none;
}
body{
  background-color: rgb(241, 241, 241);
  font-family: 'Roboto', 'Josefin Sans', 'Rock Salt', Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
header{
  background-color: #3d5b3c;
  display: grid;
  grid-template-columns: 150px auto;
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
#logo {
  text-align: center;
  max-width: 40px;
}
img.logo{
  max-width: 70px;
}
#logo_link:hover img {
  opacity: 0.8; /* Change opacity on hover */
}
nav{
  text-align: center;
  display: flex;
  justify-content: space-around;
}
nav a{
  text-align: center;
  color: #f6dfc2;
  text-decoration: none;
  padding: 25px;
}
nav a:hover{
  /* color: #B1E9FF; */
  background-color: #1f1b15;
}
#background { 
  height: 725px;
}
h2{
  margin: 0;
}
#hero {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
#hero img{
  width: 100%;
}
#hero-box{
  grid-column: 1/4;
  grid-row: 1/3;
}
#hero-msg h1, #hero-msg h4 {
  text-align: center;
}
#hero-msg h4{
  color: white;
}
#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 50px;
}
.home-title{
  color: #d9c2a3;
  font-family: 'Rock Salt', 'Roboto','Josefin Sans', Arial, sans-serif;
  font-size: 3rem;
  margin-top: 10px;
}
h4{
  color: #d9c2a3;
}
.button-box{
  text-align: center;
  text-decoration: none;
  padding: 2px;
}
.home-grid{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.rivers-card{
  grid-column: 2/4;
  grid-row: 2/3;
}
.camping-card{
  grid-column: 5/7;
  grid-row: 2/3;
}
.rapids-card{
  grid-column: 8/10;
  grid-row: 2/3;
}
#background{
  grid-column: 1/11;
  grid-row: 4/9;
  background-color: #d9c2a3;
}
.mountains{
  grid-column: 2/7;
  grid-row: 5/8;
  text-align: center;
  margin: 0 auto;
}
main section{
  text-align: center;
}
main section img {
  box-sizing: border-box;
}
main {
  text-align: center;
  margin: 0 auto;
}
.book{
  color: #000000;
  background-color: #f6dfc2;
  text-decoration: none;
  padding: 2px;
  font-size: 18px;
  margin: 50px;
  border-radius: 5px;
}
.join{
  color: #f6dfc2;
  background-color: #2c4d2a;
  text-decoration: none;
  padding: 2px;
  font-size: 18px;
  margin: 50px;
  border-radius: 5px;
}
.book:hover, .join:hover{
  background-color: #B1E9FF;
  color: #000000;
}
.card-img{
  border: 10px solid #d9c2a3;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #d9c2a3;
}
.card-img:hover{
  opacity: 0.6;
  transform: scale(1.1);
}
.card-img, .mountains {
  width: 100%;
}
.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
.msg{
  background-color: #f6dfc2;
  line-height: 2em;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
}
.msg h2{
  color: #292F36;
  font-family: 'Josefin Sans';
}
.msg p{
  color: #292F36;
  font-size: .8em;
  /* my add */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  /* my add */
}
footer{
  color: #f6dfc2;
  background-color: #2c4d2a;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a{
  color: #f6dfc2;
  text-decoration: none;
}
footer a:hover{
  opacity: 0.7;
}
footer p{
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
} 
footer .social img{
  padding-top: 15px;
  max-width: 50px;
}
footer .social img:hover {
  opacity: 0.5; /* Change opacity on hover */
}