@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');
#content{
  background-color: #ffffff;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Roboto', 'Josefin Sans', 'Rock Salt', Arial, sans-serif;
  text-decoration: none;
}
#logo_link {
  text-align: center;
  margin: 0 auto;
  padding-top: 5px;
}
#logo {
  text-align: center;
  width: 40px;
}
nav{
  text-align: center;
}
nav a{
  text-align: center;
  color: #d9c2a3;
  text-decoration: none;
  padding: 35px;
}
nav a:hover{
  background-color: #e4a55eff;
}
#background { 
  height: 725px;
}
body{
  background-color: #121113ff;
  font-family: 'Roboto', 'Josefin Sans', 'Rock Salt', Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
h2{
  margin: 0;
}
header{
  background-color: #e88329ff;
}
#hero {
  text-align: center;
}
#hero-msg h1, #hero-msg h4 {
  text-align: center;
}
.home-title{
  color: #d9c2a3;
  font-family: 'Rock Salt', 'Roboto','Josefin Sans', Arial, sans-serif;
  font-size: 3rem;
  margin-top: 10px;
}
#hero img{
  width: 100%;
}
h4{
  color: #d9c2a3;
}
.button-box{
  text-align: center;
  text-decoration: none;
  padding: 2px;
}
main section{
  text-align: center;
}
main section img {
  box-sizing: border-box;
}
main {
  text-align: center;
  margin: 0 auto;
}
#background{
  background-color: #292F36;
}
.book, .join{
  color: #ffffff;
  background-color: #e88329ff;
  text-decoration: none;
  padding: 2px;
  font-size: 18px;
  margin: 50px;
  border-radius: 5px;
}
.book:hover, .join:hover{
  background-color: #B1E9FF;
  color: #fff;
}.card-img{
  border: 10px solid #d9c2a3
}
.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
.msg{
  background-color: #B1E9FF;
  line-height: 2em;
  padding: 35px;
}
.msg h2{
  color: #292F36;
  font-family: 'Josefin Sans';
}
.msg p{
  color: #292F36;
  font-size: .8em;
  /* my add */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  /* my add */
}
.mountains{
  text-align: center;
  margin: 0 auto;
}
footer{
  color: #d9c2a3;
  background-color: #e88329ff;
  padding: 25px 50px;
  margin-top: 200px;
}
footer a{
  color: #d9c2a3;
  text-decoration: none;
}
footer a:hover{
  color: #d9c2a3;
}
footer p{
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
} 
footer .social img{
  padding-top: 15px;
}