html {
    background-color: #f0ffff; /* Change this to your desired background color */
}
body{
    max-width: 1600px;
    text-align: center;
    margin: auto;
}
header{
    background-color: #801616;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}
#hero{
 background-color: #ffffff;
}
a img{
    width: 100px;
    /* border-radius: 100%; */
}
nav a {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    text-decoration: none; /* Remove underline */
    padding: 10px; /* Space around text */
    color: #333; /* Text color */
}

nav img {
    margin-left: 5px; /* Space between text and image */
}
footer{
    background-color: #801616;
}