html {
    background-color: #262730;
}
:root {
    --primary-color: #801616;
    --secondary-color: #f3d8c7;
    --accent1-color: #262730;
    --accent2-color: #ebc34b;
    --background-color: #801616;
}
body{
    max-width: 1600px;
    text-align: center;
    margin: auto;
}
.cage{
    background-color: #ffffff;
}
header{
    background-color: #801616;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between; /* This will distribute space between the items */
    align-items: center;
    margin: 0 auto;
    max-width: 500px; /* This will vertically center the items */
}

#logo {
    order: 1; /* Ensure the logo is in the center */
    margin: 0 auto; /* Center the logo */
}
nav a {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    text-decoration: none; /* Remove underline */
    padding: 10px;
    margin: 0 20px; /* Space around text */
    color: #ddb22f; /* Text color */
}

nav img {
    margin-left: 5px; /* Space between text and image */
}
#hero{
    background-color: #ffffff;
}
#hero img{
    width: 100%;
}

a img{
    width: 100px;
}
.bottom-tag img{
    width: 600px;
}
footer{
    background-color: #801616;
    color: #ddb22f;
}
.social{
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    height: 80px;
}
.social a{
    text-decoration: none;
}
.social img{
    height: 50px;
    width: auto;
    padding: 5px;
}
.f-nav{
    
}
.f-nav a{
    text-decoration: none;
    color:#f0ffff
}
/* --------Contact--------- */
.punchline{
    display: flex;
    height: auto
}
.punchline img{
    width: 300px;
}
.form{
    display: flex;
    margin: 0 auto;
}
/* -----------Carousel------------ */
#gallery{
    background-color: #8c1919;
    max-height: 780px;
}
#gallery h1{
    padding: 20px;
    color: #fff5dd;
}
.carousel {
    position: relative;
    max-width: 1000px; /* Change as needed */
    height: 800px; /* Set the height of the carousel */
    margin: 0 auto;
    overflow: hidden;
}
.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-images img {
    max-width: 800px;
}
.slide {
    min-width: 100%;
    height: 100%; /* Ensure each slide takes the full height of the carousel */
    object-fit: cover; /* This will ensure the image covers the slide area without distortion */
}
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}
.prev {
    left: 5px;
    color: #801616;
}
.next {
    right: 5px;
    color: #801616;
}